@{
    ViewBag.Title = "Ryan Emery";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ryan Emery is a Senior in the College of Business at Ohio University. In May 2020, Ryan will be graduating with degrees in Marketing, Management Information Systems, and Business Analytics with a minor in Finance.</p>
<p>Ryan is 21 years old and a native of Cleveland, Ohio (the greatest city in the world). Ryan enjoys country music, mystery novels, and hiking the many trails around Athens.</p>
