@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Ryan Emery<br />
    Copeland 102, Athens, Ohio 45701 <br />
    <abbr title="Phone">P:</abbr>
    330.304.8618
</address>

<address>
    <strong>School E-mail:</strong> <a href="mailto:re259315@ohio.edu">re259315@ohio.edu</a> <br />
    <strong>Personal E-mail:</strong> <a href="mailto:ryanemery29@gmail.com">ryanemery29@gmail.com</a>
</address>