@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ryan Emery</h1>
    <p class="lead">Ryan Emery is a Senior in the College of Business at Ohio University. In May 2020, Ryan will be graduating with degrees in Marketing, Management Information Systems, and Business Analytics with a minor in Finance.</p>
    <p><a href="https://www.linkedin.com/in/ryan-emery-2020/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Academics</h2>
        <p>
            This is Ryan's 8th semester in the College of Business at Ohio University. Ryan is an annual member of the Dean's List. 
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/ryan-emery-2020/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work Experience</h2>
        <p>
            Ryan Emery has had the priveledge of working as a Resident Assistant at Ohio University. Ryan is also working as a Teaching Assistant in the College of Business in the AIS department. In the future, Ryan hopes to secure a full time position somewhere so he can pay all of his future bills and crushing collegate debt.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/ryan-emery-2020/">Learn more &raquo;</a></p>
        @Html.ActionLink("Customers", "Index", "Customers") <br />
        @Html.ActionLink("Orders", "Index", "Orders") <br />
        @Html.ActionLink("Products", "Index", "Products") <br />
        @Html.ActionLink("OrderProducts", "Index", "Customers")


    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>In his free time, Ryan enjoys hiking, watching movies, and chinese food. </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/ryan-emery-2020/">Learn more &raquo;</a></p>
    </div>
</div>